<%
  var _default = json['default'];
  for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
      page[key] = _default[key];
    }
  }
-%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="keywords" content="<%= page['keywords'] %>">
  <meta name="description" content="<%= page['description'] %>">
  <title><%= page['title'] %></title>

  <link rel="alternate" hreflang="ja" href="<%= page['canonical'] %>">

  <% if (page['bodyclass'] === 'thanks') { %>
  <meta name="robots" content="noindex,nofollow">
  <% } else { %>

  <!-- ogp -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= page['canonical'] %>">
  <meta property="og:description" content="<%= page['description'] %>">
  <meta property="og:image" content="">
  <meta property="og:title" content="<%= page['title'] %>">
  <meta property="og:site_name" content="">
  <!-- /ogp -->
  <% } %>
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <!-- js/先に使いたい機能を上に持ってくる、defer=読み込み順を確定させる -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

  <link rel="icon" href="画像URL" sizes="16x16" type="image/png" /> 
  <link rel="icon" href="画像URL" sizes="32x32" type="image/png" />  
  <link rel="icon" href="画像URL" sizes="48x48" type="image/png" /> 
  <link rel="icon" href="画像URL" sizes="62x62" type="image/png" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body class="<%= page['bodyclass'] %>">
        <header id="header" class="l-header">
          <div class="wrap">
            <header id="header" class="l-header">
              <!-- 左ナビゲーション -->
              <div class="left-block">
                <nav class="left-block__nav">
                  <div class="logo">
                    <a href="#" class="link">
                      <img src="./images/logo/logo01.png" class="image" alt="サンプルパン屋">
                    </a>
                  </div>
                  <ul class="header-nav">
                    <li>
                      <a href="#" class="link">
                        <span class="en">CONCEPT</span>
                        <span class="jp">こだわり</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="link">
                        <span class="en">MENU</span>
                        <span class="jp">メニュー</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="link">
                        <span class="en">BLOG</span>
                        <span class="jp">ブログ</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="link">
                        <span class="en">SHOP INFO</span>
                        <span class="jp">店舗情報</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <div class="bottom_block">
                  <div class="shop-link">
                    <a href="#" class="link">
                      <img src="./images/logo/i_link_shop.png" class="image" style="width: 100px;" alt="サンプルパン屋オンラインショップ">
                    </a>
                  </div>
                </div>
              </div>
              <!-- 右画像 -->
              <div class="right-block">
                  <h1 class="main-logo">
                    <img src="./images/logo/i_main_logo.png" class="PC" alt="サンプルパン屋">
                    <img src="./images/logo/logo01.png" class="SP" alt="サンプルパン屋">
                  </h1>

                  <!-- Slider main container/ -->
                  <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="slide-img">
                                <img src="/images/main01.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-img">
                                <img src="/images/main02.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-img">
                                <img src="/images/main03.png" alt="">
                            </div>
                        </div>
        
                    </div>
                    <!-- If we need pagination  -->
                    <!-- <div class="swiper-pagination"></div> -->
        
                    <!-- 戻るボタン＋次ボタン -->
                    <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->
        
                    <!-- If we need scrollbar -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                  </div>
        
              </div>
              <div class="header-tel">
                <div class="tel">TEL : 012-3456-7890</div>
                <div class="time">
                  OPEN 9:00~18:00 / CLOSE 月・金<br>サンプルサンプル
                </div>
              </div>
            </header>
          </div>
        </header>



